<div class="center hero-unit">
	<h1>Virtual Booth Page</h1>
	<br />
	<p>
		Visit the employer booths by clicking the corresponding buttons below.
	</p>
</div>
<span class="logobutton">
<%= link_to image_tag("Blackbaud_Logo.jpg", alt: "Blackbaud's Virtual Booth"), blackbaud_path %> 
</span>
<span class="logobutton">
<%= link_to image_tag("NCAA_enchanced_logo_to_fit_badge.jpg", alt: "NCAA's Virtual Booth"), ncaa_path %> 
</span>
<span class="logobutton">
<%= link_to image_tag("OA_red_blue.jpg", alt: "One America's Virtual Booth"), oneamerica_path %> 
</span>
<span class="logobutton">
<%= link_to image_tag("pacers_sports_entertainment.jpg", alt: "Pacers' Virtual Booth" ), pacers_path %> 
</span>
<span class="logobutton">
<%= link_to image_tag("RCI_Logo.jpg", alt: "RCI's Virtual Booth"), rci_path %> 
</span>
<br />
<br />
<span class="logobutton">
<%= link_to image_tag("SimonPropInc2768.jpg", alt: "Simon Property Group's Virtual Booth"), simon_path %> 
</span>
<span class="logobutton">
<%= link_to image_tag("minnesota.jpg", alt: "University of Minnesota's Virtual Booth"), minnesota_path %> 
</span>
<span class="logobutton">
<%= link_to image_tag("new-cavaliers-primary-logo.jpg", alt: "Cavaliers' Virtual Booth"), cavaliers_path %> 
</span>
<span class="logobutton">
<%= link_to image_tag("WellPoint_PMS_blue_red_horz_04_09.jpg", alt: "Wellpoint's Virtual Booth"), wellpoint_path %> 
</span>
<span class="logobutton">
<%= link_to image_tag("lilly_logo.png", alt: "Eli Lilly & Companies' Virtual Booth"), lilly_path %> 
</span>
<%#= link_to image_tag("virtualCareerFairLogo.png", alt: "Big Ten Virtual Career Fair"), 'http://bigtenvirtualcareerfair.com' %>
