<div class="center hero-unit">
	<h1>Virtual Booth Page</h1>
	<br />
	<p>
		Visit the employer booths by clicking the corresponding buttons below.
	</p>
</div>
<span class="logobutton">
<%= image_tag("Blackbaud_Logo.jpg") %> 
</span>
<span class="logobutton">
<%= image_tag("NCAA_enchanced_logo_to_fit_badge.jpg") %> 
</span>
<span class="logobutton">
<%= image_tag("OA_red_blue.jpg") %> 
</span>
<span class="logobutton">
<%= image_tag("pacers_sports_entertainment.jpg") %> 
</span>
<span class="logobutton">
<%= image_tag("RCI_Logo.jpg") %> 
</span>
<br />
<br />
<span class="logobutton">
<%= image_tag("SimonPropInc2768.jpg") %> 
</span>
<span class="logobutton">
<%= image_tag("minnesota.jpg") %> 
</span>
<span class="logobutton">
<%= image_tag("new-cavaliers-primary-logo.jpg") %> 
</span>
<span class="logobutton">
<%= image_tag("WellPoint_PMS_blue_red_horz_04_09.jpg") %> 
</span>
<span class="logobutton">
<%= image_tag("lilly_logo.png") %> 
</span>
