<!DOCTYPE html>
<html>
	<head>
		  <title><%= full_title(yield(:title)) %></title>
		  <%= stylesheet_link_tag    "application", media: "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
		  <%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<div class="pull-left boothlogo"><%= image_tag("big_isc.jpg") %></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Hours Available: Nov.29, 10:00am-11:00am. Nov.30, 2:00pm-3:00pm.</h4></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Positions and internships available for accounting, communications, information technology, journalism, marketing, non-profit, public relations and sales disciplines.</h4></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Hiring on an intern and entry level.</h4></div>
<div class="span16 alert alert-success block-message"><p><h1>Welcome to the Indiana Sports Corp Virtual Booth! Our representatives will be speaking with you shortly.</h1></p></div>
<!--<div class="span16 alert alert-warning block-message"><p><h1>While you are waiting please feel free to look at the jobs listed below.</h1></p></div>-->
<%= render 'layouts/footer' %>
		</div>
	</body>
</html>