<!DOCTYPE html>
<html>
	<head>
		  <title><%= full_title(yield(:title)) %></title>
		  <%= stylesheet_link_tag    "application", media: "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
		  <%= render 'layouts/shim' %>
		  <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//cdn.zopim.com/?o9ZFkQVOuzRQqUkHqjRPzJXAgQDdkgED';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
<div class="pull-left boothlogo"><%= image_tag("big_minnesota.jpg") %></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Hours Available: Nov.29, 2:00pm-3:00pm. Nov.30, 2:00pm-3:00pm.</h4></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Positions and internships available for administrative support, communications, customer service, fundraising, graphic design, journalism, management, marketing, public relations and sales disciplines.</h4></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Hiring on an intern level.</h4></div>
<div class="span16 alert alert-success block-message"><p><h1>Welcome to the University of Minnesota Virtual Booth! Please introduce and tell us about yourself in the chat box, once it pops up, and our representatives will be speaking with you shortly.</h1></p></div>
<div class="span16 alert alert-success block-message"><p><h1>To learn more about our internships go <a href="http://vid.us/7twky" target="_blank">here!</a></h1></p></div>
<!--<div class="span16 alert alert-warning block-message"><p><h1>While you are waiting please feel free to look at the jobs listed below.</h1></p></div>-->
<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
