<!DOCTYPE html>
<html>
	<head>
		  <title><%= full_title(yield(:title)) %></title>
		  <%= stylesheet_link_tag    "application", media: "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
		  <%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
<div class="pull-left"><%= image_tag("big_simon.jpg") %></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Hours Available: Nov.29, 11:00am-2:00pm. Nov.30, 11:00am-2:00pm.</h4></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Positions and internships available for accounting, agriculture, chemistry, communications, engineering, human resources, information technology, marketing, pharmaceuticals, and sales disciplines.</h4></div>
<div class="pull-right span6 alert alert-info block-message"><h4>Hiring on an intern, entry and experienced level.</h4></div>
<div class="span16 alert alert-success block-message"><p><h1>Welcome to the Simon Property Group Virtual Booth! Our representatives will be speaking with you shortly.</h1></p></div>
<div class="span16 alert alert-warning block-message"><p><h1>While you are waiting please feel free to look at the jobs listed below.</h1></p></div>
<%= render 'layouts/footer' %>
		</div>
	</body>
</html>