<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= image_tag("blackVCF100.png") %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.microposts.any? %>
			<h3>Jobs (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>

			<%= will_paginate @microposts %>
		<% end %>
	</div>
	<div class="span16  alert alert-success block-message"><p><!--<h4>Degree Progress</h4>--><br /><%= @user.degree_progress %></p></div>
	<div class="span16  alert alert-success block-message "><p><!--<h4>Skills</h4>--><br /><%= @user.skills %></div>
		<div class="span16  alert alert-success block-message "><p><!--<h4>School</h4>--><br /><%= @user.school_affliation %></p></div>	
		<div class="span16"><h1>Employment/Internships</h1></div>
	<div class="span16  alert alert-info block-message "><p><!--<h4>Employment History</h4>--><br /><%= @user.employment_history %></p></div>	
	<div class="span3  alert alert-warning block-message "><p><!--<h4>Activities</h4>--><br /><%= @user.activities %></p></div>
		
	<div class="span3  alert alert-warning block-message "><p><!--<h4>Address</h4>--><br /><%= @user.address %></p></div>		
	<div class="span3  alert alert-warning block-message "><p><!--<h4>Phone Number</h4>--><br /><%= @user.phone_number %> • <%= @user.email %></p></div>		
</div>

